@charset "UTF-8";

/*
*****************
* Theme Variables
* by Andrew Defee [@adefee]
* for Rivetz, v: Etta
* Last Updated 06.05.2019@12:36PM (1557160602)
*
* [Table of contents]
* 1. Font Imports
* 2. Font Families
* 2. Font Colors
* 3. Global Settings 
*
*****************
*/

/*
*
* 1. Font Imports
*
*/
// Remote Font Imports (Adobe TypeKit, Google Fonts, etc)
/* tamil */
@font-face {
  font-family: 'Catamaran';
  font-display: fallback;
  font-style: normal;
  font-weight: 100;
  src: local('Catamaran Thin'), local('Catamaran-Thin'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0OIpQoyXQa2RxT7-5jhgRUQ_m87A.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-display: fallback;
  font-style: normal;
  font-weight: 100;
  src: local('Catamaran Thin'), local('Catamaran-Thin'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0OIpQoyXQa2RxT7-5jhgRMQ_m87A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Catamaran';
  font-display: fallback;
  font-style: normal;
  font-weight: 100;
  src: local('Catamaran Thin'), local('Catamaran-Thin'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0OIpQoyXQa2RxT7-5jhgRCQ_k.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* tamil */
@font-face {
  font-family: 'Catamaran';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran Regular'), local('Catamaran-Regular'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0IIpQoyXQa2RxT7-5r8zRAW_0.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran Regular'), local('Catamaran-Regular'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0IIpQoyXQa2RxT7-5r6zRAW_0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Catamaran';
  font-display: fallback;
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran Regular'), local('Catamaran-Regular'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0IIpQoyXQa2RxT7-5r5TRA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* tamil */
@font-face {
  font-family: 'Catamaran';
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: local('Catamaran Bold'), local('Catamaran-Bold'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jXhFVctyB1Wk.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
/* latin-ext */
@font-face {
  font-family: 'Catamaran';
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: local('Catamaran Bold'), local('Catamaran-Bold'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jXhFVatyB1Wk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Catamaran';
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: local('Catamaran Bold'), local('Catamaran-Bold'), url(https://fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jXhFVZNyB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Comfortaa';
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/comfortaa/v22/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4Y_LDr4fIA9c.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Comfortaa';
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/comfortaa/v22/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4Y_LDrcfIA9c.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
  font-family: 'Comfortaa';
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/comfortaa/v22/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4Y_LDrAfIA9c.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Comfortaa';
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/comfortaa/v22/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4Y_LDrwfIA9c.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Comfortaa';
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/comfortaa/v22/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4Y_LDr0fIA9c.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Comfortaa';
  font-display: fallback;
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/comfortaa/v22/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4Y_LDrMfIA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} 

/*
*
* 2. Font Families
*
*   1 (Header): "Comfortaa" (@700), via Google Fonts. Used for primary headers and occasional emphasis.
*   2 (Subheader): "Catamaran" (@700), via Google Fonts. uses for subtitles and emphasis
*   3 (P): "Catamaran" (@400), via Google Fonts. Paragraphs and normal text.
*
*   Error for testing: "Times New Roman" red bold.
*/
@mixin font($fontFamily: 1, $fontWeight: "") {
  @if $fontFamily == 1 or $fontFamily == header {
    font-family: "Comfortaa", cursive;
    @if $fontWeight != "" {
      font-weight: $fontWeight;
    } @else {
      font-weight: bold;
    }
  } @else if $fontFamily == 2 or $fontFamily == subheader {
    font-family: "Catamaran", sans-serif;
    @if $fontWeight != "" {
      font-weight: $fontWeight;
    } @else {
      font-weight: bold;
    }
  } @else if $fontFamily == 3 or $fontFamily == p {
    font-family: "Catamaran", sans-serif;
    @if $fontWeight != "" {
      font-weight: $fontWeight;
    } @else {
      font-weight: 400;
    }
  } @else if $fontFamily == fa {
    font-family: "FontAwesome";
  } @else {
    // Make unsupported styles stand out
    font-family: "Times New Roman", serif;
    font-weight: bold !important;
    color: red !important;
    background: rgba(255, 192, 203, 0.6) !important;
  }
}

/*
*
*   3. Font Colors
*
*   1 (Primary): #d66e4a, rgb(214, 110, 74) // Orange
*   2 (Secondary): #060613, rgb(6, 6, 19), // Dark blue
*   GM-Blue: #1a2933, rgb(26, 41, 51) // Old GameMule Blue
*   White: #ffffff, rgb(255,255,255)
*   Off-White: #f1f1f1, rgb(241,241,241)
*   Grey: #a4b1b2, rgb(164,177,178)
*   Dark: #0f171c, rgb(15,23,28)
* 
*/
$themeColors-map: (
  1: #3f53b9,
  2: #2d2a38,
  sand: #faefdb,
  white: #ffffff,
  bg: #f7f8fc,
  text: #4f4f4f,
  black: #000000
);

@function c($key: 1, $transparency: 1) {
  @if map-has-key($themeColors-map, $key) {
    @return rgba(map-get($themeColors-map, $key), $transparency);
  } @else {
    @return #ff1493;
  }
}

/*
*
* 4. Global Options
*
*/

// Globals
$imp: !important;

// Border
//$bRadius: 5px;
$bRadius: 5px;

// Box Shadows
$themeBoxShadows-map: (
  normal: 3px 10px 19px rgba(0, 0, 0, 0.29)
);

@mixin box-shadow($key: theme) {
  box-shadow: map-get($themeBoxShadows-map, $key);
}

// Transitions
$themeTransitions-map: (
  normal: all 0.2s linear,
  ease: all 0.2s ease-in-out
);
@mixin trans($key: normal) {
  transition: map-get($themeTransitions-map, $key);
}

/*
*
* DEPRECATED: Old Theme Colors
*
*/
@function tc-old($colorTier: 1, $transparency: 1) {
  @if $colorTier == 1 or $colorTier == orange {
    // Theme orange
    // rgba(214, 110, 74, 1), hex #d66e4a
    @return rgba(214, 110, 74, $transparency);
  } @else if $colorTier == 2 or $colorTier == blue {
    // Theme dark blue
    // rgba(26, 41, 51, 1), hex #1a2933
    @return rgba(26, 41, 51, $transparency);
  } @else if $colorTier == 3 or $colorTier == grey {
    // Theme grey (lighter)
    // rgba(101, 106, 109, 1), hex #656a6d
    @return rgba(101, 106, 109, $transparency);
  } @else if $colorTier == 3 or $colorTier == white {
    // Generic White
    // rgba(255, 255, 255, 1)
    @return rgba(255, 255, 255, $transparency);
  } @else if $colorTier == 4 or $colorTier == dark {
    // Theme UI dark blue (darker, shale)
    // rgba(15, 23, 28, 1)
    @return rgba(15, 23, 28, $transparency);
  } @else if $colorTier == 5 or $colorTier == bg {
    // Theme dark blue/violet
    // rgba(7, 10, 20, 1), hex #070a14
    @return rgba(6, 6, 19, $transparency);
  } @else if $colorTier == red {
    // Theme red (for alerts, etc)
    // rgba(214, 74, 74, 1), hex #d64a4a
    @return rgba(214, 74, 74, $transparency);
  } @else if $colorTier == green {
    // Theme green (alt. notifications)
    // rgba(43, 148, 119, 1), hex #2b8a77
    @return rgba(43, 148, 119, $transparency);
  } @else {
    // When in doubt, return white
    @return rgba(255, 255, 255, 1);
  }
}
